@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 2rem 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  nav {
    padding: 2rem 1.5rem;
  }
}

nav img {
  height: 2rem;
}

.btn {
  background: none;
  border: none;
  padding: 0.75rem 4rem;
  border-radius: 4rem;
  font-weight: 700;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .btn {
    padding: 0.75rem 2rem;
  }
}

.btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.btn-lg {
  padding: 1.25rem 4rem;
}

.btn-white {
  background: white;
  color: #00252e;
}

.btn-pink {
  background: #ff52bf;
  color: white;
}

.hero {
  padding: 0rem 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .hero {
    padding: 0rem 1.5rem;
    margin-top: 4rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero .text {
  width: 40%;
}

@media (max-width: 768px) {
  .hero .text {
    width: 100%;
    text-align: center;
  }
}

.hero .text p {
  margin: 2rem 0;
}

.hero img {
  height: 25rem;
}

@media (max-width: 768px) {
  .hero img {
    width: 100%;
    height: auto;
    margin-top: 4rem;
  }
}

.cards {
  padding: 2rem 8rem;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .cards {
    padding: 0rem 1.5rem;
  }
}

.card {
  padding: 3rem;
  padding-left: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 32px -16px #808d99;
          box-shadow: 0 0 32px -16px #808d99;
}

@media (max-width: 768px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 4rem;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
}

.card .card-info {
  width: 50%;
}

@media (max-width: 768px) {
  .card .card-info {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.card .card-info h2 {
  font-size: 1.25rem;
}

.card .card-info p {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #808d99;
}

@media (max-width: 768px) {
  .card .card-info p {
    font-size: 1.125rem;
  }
}

.card img {
  height: 15rem;
}

@media (max-width: 768px) {
  .card img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    width: 100%;
    height: auto;
  }
}

.image-to-top {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.get-started {
  background-color: white;
  color: #00252e;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 6rem;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 32px -16px #808d99;
          box-shadow: 0 0 32px -16px #808d99;
  position: relative;
  top: 75px;
}

@media (max-width: 768px) {
  .get-started {
    width: 95%;
    padding: 2rem;
  }
}

.get-started h1 {
  font-size: 1.75rem;
  text-align: center;
}

.get-started button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

footer {
  background-color: #00252e;
  color: #ebfbff;
  padding: 9.375rem 8rem 4rem 8rem;
}

@media (max-width: 768px) {
  footer {
    padding: 9.375rem 1.5rem 4rem 1.5rem;
  }
}

footer a {
  color: #ebfbff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  height: 2rem;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  color: #ebfbff;
}

@media (max-width: 768px) {
  footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-content .about {
  width: 25%;
}

@media (max-width: 768px) {
  footer .footer-content .about {
    width: 100%;
  }
}

footer .footer-content .about img {
  height: 1rem;
  float: left;
  margin-top: 0.25rem;
}

footer .footer-content .about p {
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-size: 0.9rem;
}

footer .footer-content .links {
  width: 25%;
  text-align: left;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  footer .footer-content .links {
    width: 100%;
    margin-top: 2rem;
  }
}

footer .footer-content .links td {
  padding: 0.5rem 0;
}

@media (max-width: 768px) {
  footer .footer-content .links td {
    display: block;
  }
}

footer .footer-content .social-media {
  width: 25%;
}

@media (max-width: 768px) {
  footer .footer-content .social-media {
    width: 100%;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-content .social-media i {
  border: 1px solid #ebfbff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  vertical-align: middle;
  font-size: 1rem;
  margin-right: 0.5rem;
}

footer .footer-content .social-media i:hover {
  border-color: #ff52bf;
  color: #ff52bf;
}

footer .copy-right {
  text-align: right;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  footer .copy-right {
    text-align: center;
    margin-top: 2rem;
  }
}

.background-image {
  background-image: url("../img/bg-hero-desktop.svg");
  padding-bottom: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #ebfbff;
}

@media (max-width: 768px) {
  .background-image {
    background-image: url("../img/bg-hero-mobile.svg");
  }
}
/*# sourceMappingURL=style.css.map */