@import "./base/reset";
@import "./base/typography";
@import "./utilities/variables";
@import "./components/nav";
@import "./components/buttons";
@import "./components/hero";
@import "./components/card";

.background-image {
  background-image: url("../img/bg-hero-desktop.svg");
  padding-bottom: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: $pale-cyan;

  @include mobile {
    background-image: url("../img/bg-hero-mobile.svg");
  }
}
