nav {
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @include mobile {
    padding: 2rem 1.5rem;
  }

  img {
    height: 2rem;
  }
}
